<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :repository %>
    <%= f.input :handler_id, collection: Handler.all, label_method: "title", value_method: "id" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
